<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="selectedProject.id; else elseBlock">
          {{ originalTitle }}
        </span>
        <ng-template #elseBlock>Select a Project</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(selectedProject)">
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          [(ngModel)]="selectedProject.title"
          type="text"
          name="title"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Details"
          [(ngModel)]="selectedProject.details"
          type="text"
          name="details"
        ></textarea>
      </mat-form-field>
      <section>
        <h4>{{ selectedProject.percentComplete }}</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          [(ngModel)]="selectedProject.percentComplete"
          name="percentComplete"
        ></mat-slider>
        <section>
          <mat-checkbox [(ngModel)]="selectedProject.approved" name="approved"
            >Approved by Customer
          </mat-checkbox>
        </section>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit(selectedProject)">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
